@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  background-image: url("../images/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  &__logo-link {
    padding-top: 50px;
    display: flex;
    justify-content: center;
  }
  &__subtitle-up {
    margin-top: 140px;
    @include text-18;
    text-align: center;
    color: #ffffff;
  }
  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    color: #ffffff;
  }
  &__subtitle-down {
    text-align: center;
    font-size: 42px;
    line-height: 57px;
    color: #ffffff;
  }
  &__button {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  &__button-text {
    @include button;
  }
  &__links {
    position: absolute;
    bottom: 40px;
    display: flex;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  &__link-image {
    padding: 0 15px;
  }
}
